.gradle/
build/
app/build/
*.apk
*.aab
*.dex
*.class
bin/
gen/
out/
.navigation/
*.iml
.idea/
local.properties
gradle-local.properties
*.jks
*.keystore
google-services.json
/app/release/
*.log
.cxx/
.externalNativeBuild/
